.tag-red {
    color: #fff;
    background-color: #bd0606;
}
.tag-main-blue {
    color: #fff;
    background-color: #1b334d;
}
.tag-main-yellow {
    color: #555555;
    background-color: #e9d16f;
}
.tag-green {
    color: #fff;
    background-color: #00ac00;
}
.tag-orange {
    color: #fff;
    background-color: #ff7b00;
}
.tag-blue {
    color: #fff;
    background-color: #1c56d1;
}

.boxes {
    display: flex;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(230, 230, 230, 1);
    box-shadow: 0px 0px 9px 1px rgba(230, 230, 230, 1);
}
.boxes-vertical {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(230, 230, 230, 1);
    box-shadow: 0px 0px 9px 1px rgba(230, 230, 230, 1);
}
@media (max-width: 540px) {
    .boxes-v {
        flex-direction: column;
        height: 600px;
        border: 1px solid #1b334d;
    }
}
@media (max-width: 992px) and (min-width: 541px) {
    .boxes {
        height: 400px;
    }
    .box_img_cntr img {
        height: 400px !important;
    }
    .boxes-vertical {
        height: 400px;
    }
}

.box_img_cntr {
    flex-basis: 48%;
}
.box_img_cntr img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.box_text_cntr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 52%;
    padding: 30px;
}
.box_text_cntr h4 {
    color: #000;
    font-weight: 700;
    text-align: right;
}
.box_text_cntr p {
    width: 100%;
    text-align: right;
}
.box_text_cntr div {
    align-self: flex-start;
}
.box_text_cntr .link_button {
    padding: 5px 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 100px;
    margin-left: 10px;
}
.box_text_cntr .tag_button {
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border-radius: 100px;
    margin-left: 10px;
}
.box_info_cntr {
    display: flex;
    width: 100%;
    align-items: baseline;
}
.box_avatar {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.box_avatar img {
    width: 100%;
    border-radius: 100px;
}
.box_info_cntr h6 {
    color: rgb(167, 167, 167);
    font-size: 10px;
}
/* BOX END */
/* BOX01 START */
.box01_img_cntr {
    flex: 1 1 0;
}
.box01_img_cntr img {
    width: 100%;
    height: 300px;
}
.box01_text_cntr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0;
    padding: 30px;
}
.light-font {
    color: #fff;
}
.boxes h3 {
    font-weight: 700;
}
.box01_text_cntr p {
    width: 100%;
    text-align: right;
}
.box01_text_cntr .link_button {
    padding: 5px 15px;
    text-align: center;
    font-size: 10px;
    border-radius: 100px;
    margin-left: 10px;
}
.box01_text_cntr .tag_button {
    padding: 5px;
    text-align: center;
    font-size: 10px;
    border-radius: 100px;
    color: #555555;
    background-color: #d7e96f;
}
.tag_container {
    display: flex;
    flex-wrap: wrap;
}
.tag_container a {
    margin-bottom: 5px;
}
/* BOX01 END */
/* BOX02 START */
.box02_img_cntr {
    flex-basis: 50%;
}
.box02_img_cntr img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.box02_tag_cntr {
    position: absolute;
    display: flex;
    z-index: 1000;
    top: 30px;
    left: 40px;
}
.box02_text_cntr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 30px;
    padding-top: 5px;
}
.light-font {
    color: #fff;
}
.boxes h3 {
    font-weight: 700;
}
.box02_text_cntr p {
    width: 100%;
    text-align: right;
}
.box02_tag_cntr .link_button {
    padding: 5px 15px;
    margin-left: 10px;
    text-align: center;
    font-size: 10px;
    border-radius: 100px;
}
.box02_tag_cntr .tag_button {
    padding: 7px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    font-size: 10px;
    border-radius: 100px;
    color: #555555;
    background-color: #d7e96f;
}
