:root {
    --gray-dark: #ddd;
}

.form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    background-color: rgba(white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 98%;
    display: block;
}
.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, 0.6);
    border-bottom: 3px solid green;
}

.form__input:focus:invalid {
    border-bottom: 3px solid red;
}

.form__input::-webkit-input-placeholder {
    color: var(gray-dark);
}

.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.book {
    background-image: linear-gradient(105deg, rgba(white, 0.9) 0%, rgba(white, 0.9) 50%, transparent 50%) !important;

    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.6);

    height: 40rem;
}
.book__form {
    padding: 6rem;
}

.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.15s;
    position: relative;

    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 16px rgba(black, 0.2);
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 8px rgba(black, 0.2);
}

.btn__green {
    background-color: green;
    color: white;
}

.btn--white {
    background-color: white;
    color: var(purple-base);
}
.btn--white::after {
    background-color: white;
}

.btn::after {
    content: "";
    display: inline-block;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn--animated {
    animation: moveInBottom 1s ease-in-out 0.8s;
    animation-fill-mode: backwards;
}
.login_logo img {
    width: 120px;
}
.login_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}
