.part-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.part-row {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(228, 227, 227);
}
.part-row:hover {
    background-color: rgb(189, 189, 189);
}
.part-number {
    flex: 20px 0 0;
    margin: 15px;
    text-align: center;
    color: #2c7bbd;
    border: 1px solid #2c7bbd;
    border-radius: 100px;
}
.part-title {
    padding: 15px;
}
