.templates-cntr {
    display: flex;
    margin-top: 70px;
}
@media (max-width: 500px) {
    .templates-cntr {
        flex-direction: column;
        margin: 30px;
        justify-content: space-between;
        height: 700px;
    }
}

.cont-post {
    position: relative;
    overflow: hidden;
    direction: rtl;
    font-family: "vazir";
    width: 300px;
    height: 300px;
    color: #e9d16f;
    background-size: cover;
    background-position: right;
}
.cont-facebook {
    position: relative;
    overflow: hidden;
    direction: rtl;
    font-family: "vazir";
    width: 300px;
    height: 156px;
    color: #e9d16f;
    background-size: cover;
    background-position: right;
}
.rows {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}
.rows-facebook {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}
.columns {
    display: flex;
    justify-content: center;
}
.cells {
    display: flex;
    height: 40px;
    width: 120px;
    margin: 5px;
    text-align: center;
    border: 1px solid #e9d16f;
    border-radius: 5px;
}
.cells-s {
    display: flex;
    height: 20px;
    width: 120px;
    margin: 2px;
    text-align: center;
    border: 1px solid #e9d16f;
    border-radius: 3px;
    align-items: center;
}
.cells-full-title {
    justify-content: center;
    height: 30px;
    width: 250px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    background-color: #e9d16f;
    color: #1b334d;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.cells-full-title p {
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
.cells-content {
    justify-content: center;
    height: 140px;
    width: 250px;
    margin-bottom: 5px;
    padding: 30px 35px;
    text-align: justify;
    font-size: 10px;
    color: #1b334d;
    background-size: cover;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.cells-content-img {
    justify-content: center;
    height: 120px;
    width: 250px;
    margin-top: 5px;
    text-align: center;
    font-size: 10px;
    color: #1b334d;
    border-radius: 5px;
}
.cells-content-img img {
    width: 100%;
    object-fit: cover;
}
.cells-date {
    font-size: 8px;
}
.cells-full-sub {
    height: 20px;
    width: 250px;
    margin: 5px;
    text-align: center;
    font-size: 8px;
    color: #e9d16f;
}
.cells img {
    flex: 35% 0 1;
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.cells-s img {
    flex: 35% 0 1;
    height: 100%;
    width: 35%;
    object-fit: cover;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.cells span {
    font-size: 20px;
    padding: 5px 8px;
    color: #ffe78f;
    padding-left: 0;
}
.cells p {
    font-size: 5px;
    color: #e9d16f;
}
.cells-s span {
    font-size: 14px;
    padding: 0 8px;
    color: #ffe78f;
    padding-left: 0;
}
.cells-s p {
    font-size: 8px;
    margin-bottom: 3px;
    padding: 5px;
    color: #e9d16f;
}
.toomoney-logo {
    position: absolute;
    top: 5px;
    height: 50px;
    width: 100px;
}
.toomoney-logo img {
    height: 100%;
    width: 100%;
}
.toomoney-logo-facebook {
    position: absolute;
    top: 2px;
    width: 70px;
}
.toomoney-logo-facebook img {
    height: 100%;
    width: 100%;
}
